<h1>Recuperar senha</h1>

<p>
    Ola {{name}}, 
    Ouvimos dizer que você perdeu sua senha. Desculpe por isso!
    Mas não se preocupe! Você pode usar o seguinte botão para redefinir sua senha:
</p>

<a href="{{link}}">
    Recuperar senha
</a>

<p>
    Se você não usar este link dentro de 1 hora, ele irá expirar. 
</p>